<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>d:/logs/web-service.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>d:/logs/web-service.%d{yyyy-MM-dd}-%i.log
			</fileNamePattern>
		    <!-- keep 30 days worth of history -->
			<maxHistory>30</maxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>2MB</maxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="com.fairyland.jdp.framework" level="WARN" />
	<logger name="com.cpic.auto" level="DEBUG" />
<!-- <logger name="org.apache.ibatis" level="DEBUG" /> -->
<!-- 	<logger name="org.springframework" level="DEBUG" />  -->
<!-- 	  <logger name="org.apache.shiro" level="DEBUG" /> -->
	
	<!--log4jdbc -->
<!-- 	<logger name="jdbc.sqltiming" level="INFO"/> -->
<!-- 	<logger name="java.sql.Connection" level="DEBUG"/> -->
<!-- 	<logger name="java.sql.PreparedStatement" level="DEBUG"/> -->

	<!--<root level="WARN">		
		<appender-ref ref="rollingFile" />
	</root>-->
	<root level="INFO">		
		<appender-ref ref="rollingFile" />
		<appender-ref ref="console"></appender-ref>
	</root>
	
	
</configuration>